.coin-container {
    color:white;
    display: flex;
    justify-content: space-around;
    
}
.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.292);
    width: 90%;
}

.coin {
    display: flex;
    align-items: center;
    min-width: 300px;
    
}

.coin h1 {
    height: 30px;
    width: 30px;
    margin-right: 6.7rem;
    font-weight: 300;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 20px;
}

.coin-symbol {
    text-transform: uppercase;
    font-weight: 300;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
}


.coin-price {
    width: 110px;
    
}

.coin-volume {
    width: 155px;
}

.day, .hour, .sevenDay {
    padding-left: 15px;
}


.price-changed-red {
    color:red;
}
.price-changed-green {
    color:greenyellow
}